<div class="bg-[#F6F6F6;] h-[100vh]">
  <div class="flex justify-between items-center bg-white w-[99.5%] mx-auto">
    <div
      class="relative m-3 p-2 border border-spacing-1 rounded-lg border-[#00000040]"
    >
      <div class="absolute mt-auto start-2 flex">
        <span
          class="icon-[ic--round-search] mt-[20%]"
          style="width: 30px; height: 30px"
        ></span>
      </div>
      <input
        type="search"
        id="default-search"
        class="focus:ring-[none] ps-9"
        placeholder="البحث"
        [(ngModel)]="searchvalue"
      />
    </div>
    <div class="col-span-2 flex">
      <div
        class="flex items-center gap-3 ms-auto m-3 border border-spacing-0.5 rounded-lg border-[#00000040] p-2"
      >
        <span
          class="icon-[uit--calender] ms-auto"
          style="width: 25px; height: 25px"
        ></span>
        <p>{{ currentDate | date }}</p>
      </div>
      <div class="p-2 m-3 gap-2 flex align-middle">
        <div class="w-9">
          <img src="./assets/Mask group.png" class="w-full" alt="" />
        </div>
        <p>د/احمد السيد</p>
      </div>
    </div>
  </div>

  <section class="w-full">
    <div class="grid grid-cols-4 gap-4 py-6 w-[90%] m-auto">
      @for(item of cardData; track item){
      <div class="shadow-lg rounded-xl bg-white">
        <div class="grid grid-cols-8 content-center py-2 px-2">
          <img [src]="item.image" alt="icons" />
          <p
            class="col-span-6 text-2xl font-medium whitespace-nowrap text-ellipsis"
          >
            {{ item.desc }}
          </p>
          <span
            class="icon-[mingcute--more-2-fill]"
            style="width: 30px; height: 30px"
          ></span>
        </div>
        <h3 class="font-bold text-5xl grid justify-center pt-4 me-4">
          {{ item.Patient }}
        </h3>
        <span class="grid justify-center ms-[40%] pb-8">{{ item.title }}</span>
      </div>
      }
    </div>

    <div class="overflow-x-auto py-4">
      <table class="w-[90%] m-auto shadow-md text-center rounded-lg">
        <thead class="text-sm font-medium text-[#1D2433] bg-[#00C8948C]">
          <tr>
            <th scope="col" class="py-3">التسلسل</th>
            <th scope="col" class="py-3">الدكتور</th>
            <th scope="col" class="py-3">التخصص</th>
            <th scope="col" class="py-3">رقم التليفون</th>
            <th scope="col" class="py-3">الحالات المحوله</th>
            <th scope="col" class="py-3">تم الكشف</th>
            <th scope="col" class="py-3"></th>
          </tr>
        </thead>
        <tbody>
          @for (data of dashTable | search : searchvalue ; track $index) {
          <tr class="bg-white border-b">
            <th scope="row" class="py-4">
              {{ $index + 1 }}
            </th>
            <td class="py-4 whitespace-nowrap max-w-8 text-ellipsis">
              {{ data.contactInfo.firstName }}
            </td>
            <td class="py-4">
              {{ data.specialization }}
            </td>
            <td class="py-4">
              {{ data.contactInfo.phone }}
            </td>
            <td class="py-4">
              {{ data.totalRedirectedPatient }}
            </td>
            <td class="py-4">
              {{ data.totalCompletedRedirections }}
            </td>
            <td class="py-4">
              <button
                #btnAvl
                class="w-[120px] h-[33px] ms-auto rounded-md text-sm font-bold"
                [ngClass]="data.availability ? 'true' : 'false'"
              >
                {{ data.availability ? "متاح" : "غير متاح"}}
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </section>
</div>
