.true {
  color: #00b69b;
  background-color: #00b69b29;
}

.false {
  color: #c12735;
  background-color: #c1273529;
}

nz-date-picker,
nz-range-picker {
  margin: 0 8px 12px 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 25px;
  height: 25px;
}
