<section class="bg-[#F6F6F6;] h-[100vh]">
  <div class="flex justify-between items-center bg-white w-[99.5%] mx-auto">
    <div class="p-2 m-3 gap-2 flex items-center max-sm:w-1/2">
      <div class="w-9">
        <span
          class="icon-[healthicons--ui-user-profile]"
          style="width: 35px; height: 35px"
        ></span>
      </div>
      <p>د/غادة احمد رءوف</p>
    </div>
  </div>
  <div
    class="w-[80%] bg-[#FFFFFF] min-h-[380px] max-h-[80vh] overflow-auto mx-auto my-[50px] rounded-lg shadow-lg"
  >
    <p class="font-semibold text-[#00C894] text-base mx-[50px] py-[20px]">
      إختيار العلاج
    </p>
    <div class="mx-[50px] py-[24px]">
      <form [formGroup]="form">
        <div formArrayName="inputs">
          @for (inputGroup of inputGroups.controls; track $index) {
          <div
            class="flex justify-evenly py-2 w-[90%] m-auto flex-wrap gap-2"
            formGroupName="{{ $index }}"
          >
            <nz-select
              formControlName="type"
              class="w-[100px]"
              [nzSize]="'large'"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="النوع"
              [nzDropdownStyle]="{ direction: 'rtl' }"
            >
              <nz-option nzLabel="TAB" nzValue="TAB"></nz-option>
              <nz-option nzLabel="injection" nzValue="injection"></nz-option>
              <nz-option nzLabel="patch" nzValue="patch"></nz-option>
            </nz-select>
            <nz-select
              formControlName="medicine"
              class="w-[249px]"
              (ngModelChange)="getMedicineId($event)"
              [nzSize]="'large'"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="العلاج"
              [nzDropdownStyle]="{ direction: 'rtl' }"
            >
              @for (med of medicinies; track $index) {
              <nz-option
                nzLabel="{{ med.medName }}"
                nzValue="{{ med.id }}"
              ></nz-option>
              }
            </nz-select>
            <input
              formControlName="dose"
              type="text"
              class="w-[220px] rounded-lg font-normal focus:border-none focus:ring-[#00C894]"
              placeholder="عدد مرات"
            />
            <input
              formControlName="period"
              type="text"
              class="w-[220px] rounded-lg font-normal focus:border-none focus:ring-[#00C894]"
              placeholder="مده العلاج"
            />
          </div>
          }
        </div>
      </form>
      <div class="flex justify-evenly mt-[10%] w-[90%] mx-auto">
        <div id="print-section" class="hidden">
          <img src="./assets/header.png" alt="header img" class="w-full" />
          <h2 class="text-9xl">Best FrontEnd at the world</h2>
          <img
            src="./assets/footer.png"
            alt="footer img"
            class="fixed bottom-0 w-full"
          />
        </div>
        <button
          class="w-[30%] m-auto font-semibold text-2xl px-3 py-3 flex items-center justify-center bg-[#00C894] text-white rounded-lg hover:scale-[.95]"
          (click)="addMedicine()"
        >
          <span
            class="icon-[gg--add] me-[20px]"
            style="width: 40px; height: 40px"
          ></span>
          إضافه علاج
        </button>
        <button
          class="w-[30%] m-auto font-semibold text-2xl px-3 py-3 flex items-center justify-center bg-[#00C894] text-white rounded-lg hover:scale-[.95]"
          (click)="print()"
          printSectionId="print-section"
        >
          <span
            printTitle="روشته"
            previewOnly="true"
            class="icon-[ph--printer] me-[20px]"
            style="width: 40px; height: 40px"
          ></span>
          طباعه
        </button>
      </div>
    </div>
  </div>
</section>
